
#homeTeacherRollCall {
    background-color: rgb(150, 115, 166);
    width: 100%;
}

#logout {
    color: black;
}

#excStudentsDiv, #attendingStudentsDiv, #attStudentsUL {
    overflow-y: auto;
}

.attendence {
	min-height:285px;
	height:auto !important;
}